h1 {
    height: 50px;
    background-color: grey;

}



.img{

 max-width: 100%;
 height: auto;

}



.wrapper{
height: 500px;
 background-color: grey ;
 color: black;
  font-family:"lucida grande";
font-size: 10 px;
}


.footer-logo{

    height: 50px;
    background-color: black;
    color: white;
    padding: 20px;
}


@media only screen and (max-width :1200px) {

    h1{
        background-color: yellow;
    }
}





@media only screen and (max-width :768px) {
    h1{
        background-color: blue;
    }
}


@media only screen and (max-width:500px)
{
    h1 {
        background-color: red;
    }

    .img {
       max-width: 30%;
       height: auto;
    }
}


